/* Styling for large screens > 1200px */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(229, 229, 229);
  padding: 40px;
}

#signup a,
#signup span {
  text-decoration: none;
  color: rgb(183, 183, 183);
  font-size: 14px;
}

#signup a:hover {
  color: rgb(46, 196, 182);
  font-weight: bold;
}

#container1 {
  display: flex;
  background-color: rgb(247, 253, 252);
  justify-content: center;
  padding: 50px 100px;
}

#intro_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
  margin-top: -200px;
}
#intro_info img {
  margin-bottom: 60px;
}

#intro_info h1 {
  color: rgb(17, 27, 26);
  font-size: 40px;
}

#intro_info p {
  color: rgb(115, 115, 115);
  font-size: 15px;
  width: 410px;
}

#form_div {
  background-color: rgba(240, 246, 245, 0.2);
  padding: 25px;
  border-radius: 10px;
}

form {
  background-color: rgb(255, 255, 255);
  padding: 55px;
  border-radius: 8px;
}

.partitioning {
  display: flex;
}

label {
  color: rgb(19, 44, 66);
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}

.partitioning > div input {
  color: rgb(19, 44, 66);
  margin-bottom: 20px;
  margin-right: 15px;
  padding: 10px;
  width: 200px;
  font-size: 13px;
  border: 1px solid rgb(241, 241, 241);
}

#firstName {
  border: 1px solid blue;
  font-weight: bold;
}

#gender {
  color: rgb(19, 44, 66);
  margin-bottom: 20px;
  margin-right: 15px;
  padding: 10px;
  width: 200px;
  font-size: 13px;
  border: 1px solid rgb(241, 241, 241);
}

#activity {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgb(241, 241, 241);
}

#password {
  width: 100%;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid rgb(241, 241, 241);
}

svg {
  position: relative;
  top: -57px;
  right: -400px;
}

#btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgb(46, 196, 182);
  color: white;
  border: 1px solid rgb(241, 241, 241);
}

#footer {
  font-size: 13px;
  text-align: center;
}
/* Styling for medium devices < 1200px */
@media screen and (max-width: 1200px) {
  #container1 {
    flex-direction: column;
    height: auto;
    padding: 250px 30px 30px 30px;
    max-width: 600px;
    margin: 0 auto;
  }
  #intro_info {
    padding: 25px;
  }
  #intro_info img {
    width: 50px;
    height: 50px;
    margin-bottom: 0px;
  }
  #intro_info h1 {
    color: rgb(17, 27, 26);
    font-size: 30px;
    margin-top: 30px;
  }
  #signup {
    max-width: 600px;
    margin: 0 auto;
  }
  svg {
    top: -57px;
    right: -350px;
  }
}

/* Styling for small devices 700px */
@media screen and (max-width: 700px) {
  #container1 {
    padding: 200px 20px 20px 20px;
  }
  .partitioning {
    flex-direction: column;
  }
  .partitioning > div input {
    width: 100%;
    font-size: 12px;
  }
  label {
    font-size: 13px;
  }
  #gender {
    width: 100%;
  }
  svg {
    top: -57px;
    right: -330px;
  }
  #intro_info img {
    width: 40px;
    height: 40px;
  }
  #intro_info h1 {
    color: rgb(17, 27, 26);
    font-size: 25px;
    margin-top: 25px;
  }
  #intro_info p {
    width: 300px;
    font-size: 13px;
  }
}

/* Styling for small devices 660px */
@media screen and (max-width: 660px) {
  svg {
    bottom: 10%;
    left: 85%;
  }
  #intro_info img {
    width: 35px;
    height: 35px;
  }
  #intro_info h1 {
    color: rgb(17, 27, 26);
    font-size: 20px;
    margin-top: 25px;
  }
  #intro_info p {
    width: 300px;
    font-size: 12px;
  }
}
